
.left_eye {
    position: absolute;
    left: 40%;
    top:  20%;
    width:  20%;
    height: 50%;
    background: url(../../images/eyeblue.png) no-repeat;
     background-size: 100%;
}

.right_eye {
    position: absolute;
    left: 40%;
    top:  20%;
    width:  20%;
    height: 50%;
    background: url(../../images/eyeblue.png) no-repeat;
    background-size: 100%;
}


/** to obtain a cheap 'smooth' effect on the flies **/
.slick {
  -webkit-transition: all 0.3s ease-out;
  -khtml-transition:  all 0.3s ease-out;
  -moz-transition:    all 0.3s ease-out;
  -o-transition:      all 0.3s ease-out;
  transition:         all 0.3s ease-out;
}

